.wrapper {
    width: 100%;
    display: flex;
    position: fixed;
    font-family: "Tenor Sans";
    z-index: 99;

    .title {
        margin-top: 24px;
        margin-left: 32px;
        font-size: 32px;
        flex: 1;
    }

    .about {
        font-size: 22px;
        margin-top: 38px;
        margin-right: 32px;
    }

    .search {
        margin-right: 32px;
    }
}